#map {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 60%;
  z-index: 0;

}
#plannerMap{
  height: 600px;
}

#plan{
  height: 400px;
}
#tag{
    font-family: 'Rock Salt', cursive;
}

#above{
  z-index: 1;
  opacity: .80;
}

ul#routeList li{
  display: inline;
}
